<h1>Contact Page</h1>

<div class="row">
  <div class="col-md-6">
    {{#if responseMessage}}
      <div class="alert alert-success">
        <br/>
        <div class="well well-sm">Your message and contact has been sent</div>
        <p>To: {{model.email}}</p>
        <p>Message: {{model.message}}</p>
        <p>Reference ID: {{model.id}}</p>
      </div>

    {{else}}

    <div class="form-group {{if model.emailIsValid 'has-success'}} has-feedback">
      <label>Your email address</label>
      {{input type="email" class="form-control" placeholder="Email" value=model.email}}
      {{#if emailIsValid}}
      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
      {{!-- <span class="sr-only">(success)</span> --}}
      {{/if}}
    </div>

    <div class="form-group {{if model.messageIsValid 'has-success'}} has-feedback">
      <label>Your message</label>
      {{textarea class="form-control" placeholder="Your message. (At least 5 characters.)" rows="7" value=model.message}}
      {{#if messageIsValid}}
      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
      {{!-- <span class="sr-only">(success)</span> --}}
      {{/if}}
    </div>
    
    <button class="btn btn-success" disabled={{model.isDisabled}} {{action 'sendMessage' model}}>Send</button>

    
    {{/if}}
  </div>
</div>




{{!-- <div class="form-group has-warning has-feedback">
  <label class="control-label" for="inputWarning2">Input with warning</label>
  <input type="text" class="form-control" id="inputWarning2" aria-describedby="inputWarning2Status">
  <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
  <span id="inputWarning2Status" class="sr-only">(warning)</span>
</div>
<div class="form-group has-error has-feedback">
  <label class="control-label" for="inputError2">Input with error</label>
  <input type="text" class="form-control" id="inputError2" aria-describedby="inputError2Status">
  <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
  <span id="inputError2Status" class="sr-only">(error)</span>
</div> --}}

{{outlet}}
